# Backup folder
backup/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment and virtual environments
venv/
env/
.env
.venv
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log
logs/
evaluation.log

# Jupyter notebooks
.ipynb_checkpoints

test_results/
# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 